In [1]:
import pandas as pd
data = pd.read_csv("https://www.appliedcoding.net/uploads/all_vintages_data_set.csv")

In [2]:
data = data[['year', 'median_price', 'ratings_average']]

data = data[data['median_price'] > 50]
data = data[data['median_price'] < 6000]
data = data[data['year'] != 'U.V.'] #Error handling
data = data[data['year'] != 'N.V.'] #Error handling
data['year'] = data['year'].astype(int)
data = data[data['year'] > 1960]


data.dropna(inplace=True)

In [3]:
data

       year  median_price  ratings_average
1      2014        248.89              4.4
2      2012        206.73              4.2
3      2013        289.69              4.4
4      2011        325.00              4.2
5      2015        255.98              4.4
...     ...           ...              ...
77911  2015        575.00              4.2
77912  2015        105.54              3.5
77913  2016        105.54              3.7
77914  2012        105.54              3.4
77915  2017        105.54              3.7

[60906 rows x 3 columns]

In [4]:
from sklearn.model_selection import train_test_split
X = data[["year", "median_price"]]
y = data["ratings_average"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor(max_depth=2, random_state=42)
res = model.fit(X_train, y_train)
predictions = res.predict(X_test)
mean_squared_error(y_test, predictions)

0.5487807909265774

In [6]:
import joblib
joblib.dump(model, "rf_model.joblib")

['rf_model.joblib']